<h2>Edit Profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

	<div class="control-group">
    <%= f.label :email %>
    <div class="controls">
      <%= f.email_field :email, :class => 'text_field', :autofocus => true  %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

	<div class="control-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <div class="controls">
      <%= f.password_field :password, :autocomplete => "off", :class => "textfield" %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password  %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :current_password, :class => 'control-label' %> <i>(we need your current password to confirm your changes)</i><br />
    <div class="controls">
      <%= f.password_field :current_password  %>
    </div>
  </div>

    <%= f.submit "Update", :class => "btn btn-primary" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %></p>

<div class="form-actions">
<%= link_to "Back", :back %>
</div>
