<%= form_for @reading, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :meter_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :meter_id, Meter.all.collect{|m| [m.name, m.id]}, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :value, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :value, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                readings_path, :class => 'btn' %>
  </div>
<% end %>
